@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-text: #073B4C;
    --color-titles: #660018;
    --background: #FFD166;
    --color-links: #193D10;
}

/*Header*/
body {
    background-color: var(--background);
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: var(--color-titles);
    border-top: 2px solid var(--color-titles);
    border-bottom: 2px solid var(--color-titles);
}

.items a {
    color: var(--color-links);
    text-decoration: none;
    font-size: 1.5em;
    height: 30px;
    margin: 10px;
}

a:hover {
    color: red;
}

h1 {
    color: var(--color-titles);
    font-size: 3em;
    text-align: center;
    font-family: "Montserrat ExtraBold 800";
    margin-bottom: 1px;
}

h2 {
    color: var(--color-titles);
    text-align: center;
    font-family: "Montserrat ExtraBold 800";
    font-size: 2.3em;
    padding-top: 15px;
}

/*Principal*/
.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4c558;
}

.principal img {
    width: 100%;
    padding: 20px 50px;
}

.principal h2 {
    font-size: 2.1em;
    color: var(--color-titles);
    text-align: center;
    font-family: "Montserrat ExtraBold 800";
    flex-direction: row;
    top: 2px;
}

.principal p {
    text-align: center;
    font-size: 1.9em;
    top: 50px;
    color: var(--color-text);
    text-wrap: balance;
    margin: 10px;
}

.principal a {
    font-size: 1.7em;
    bottom: 1px;
    text-decoration: none;
    border: 3px solid var(--color-links);
    color: var(--color-links);
    margin: 30px;
    padding: 10px;
    
}

.principal a:hover {
    color: red;
}

.principal img {
    width: 100%;
    height: auto;
}


/*Footer*/
footer {
    border-top: 2px solid var(--color-titles);
}

.all {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h5 {
    font-size: 1.3em;
    color: var(--color-titles);
    text-align: center;
}

.icons img {
    width: 50px;
    margin-top: 10px;
    margin: 10px;
}

.info {
    margin-top: 10px;
}

.info h6 {
    font-size: 1em;
    color: var(--color-titles);
    text-wrap: balance;
    margin: 10px;
    text-align: center;
}

.info img {
    margin: 5px;
    align-items: center;
    justify-content: center;
}

h6 {
    font-size: 1em;
    color: var(--color-titles);
    text-align: center;
}

@media screen and (min-width: 721px) {

    .items {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .all {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}