* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(7, 7, 65);
}
.logo {
    display: flex;
    flex-wrap: wrap;
}

.logo img {
    height: 100px;
}

.title h1 {
    font-size: 1.5em;
    color:white;
}

.title p {
    font-size: 1.3em;
    color:white;
}


a {
    padding-right: 100px;
    text-decoration: none;
    font-size: 1.5em;
    color:white;
}

a:hover {
    color: yellow;
}

footer {
    background-color: rgb(7, 7, 65);
    color: white;
}