@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: blue;
    --primary-color:rgba(40, 55, 219, 0.526);
    --secondary-color:rgba(4, 12, 105, 0.942);
}

body {
    background-color: rgba(255, 255, 255, 0.281);
    font-family: "Roboto Condensed";
}

/*HEADER*/

.intro {
    display: flex;
    background-color: var(--background);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}

.intro img {
    width: 90px;
    padding: 15px;
    border-radius: 30px;
}

.intro h1 {
    font-size: 2em;
    color: white;
 }

nav {
    background-color: black;
}

.barrita {
    display: flex;
    justify-content: space-around;
    height: 30px;
}

a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    padding-bottom: 100px;
    
    
}

a:hover {
    color: yellow;
}

/*SECTION COURSE WORK*/
.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
}

.resources {
    text-align: center;
    margin: 20px;
    border: 2px solid blue;
    grid-column: 1/2;
}

/*SECTION COUNTRY*/
.country {
    text-align: center;
    margin: 20px;
    border: 2px solid blue;
    grid-column: 2/3;
}

.country img {
    width: 400px;
    margin: 20px;
}

/*SECTION CERTIFICATE*/
.courses {
    text-align: center;
    grid-column: 1/3;
    margin: 20px;
    border: 2px solid blue;
}
/*GENERAL*/
h2 {
    background-color: var(--background);
    color: white;
    height: 30px;
}

/*FOOTER*/
footer {
    background-color: var(--background);
    text-align: center;
    width: 100%;
}

footer p {
    font-size: 18px;
    color: white;
}

#currentyear {
    font-size: 18px;
}

@media screen and (max-width: 600px)
{
    .card {
        display: flex;
        flex-direction: column;
        margin: 1px;
    }

    .resources,
    .country,
    .courses {
        margin-bottom: -10px;
    }

    .country img {
        width: 200px;
        margin: 20px;
    }
    

}